body {
    margin: 0;
}
.flex-container {
    background-color: #2196F3;
    display: flex;
    flex-wrap: wrap;
}
.flex-item {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    flex: 1 1 200px;
}