body { margin: 0; }
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  "a b b"
                        "a c d"
                        "e e d";
  background-color: #2196F3;
  height: 100vh;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-a {
  grid-area: a;
}
.item-b {
  grid-area: b;
}
.item-c {
  grid-area: c;
}
.item-d {
  grid-area: d;
}
.item-e {
  grid-area: e;
}